* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 10vh;
  margin: 16px 32px;
}

a{
    text-decoration: none;
    color: black;
}
#logo {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  padding-right: 32px;
  width: 10vw;
}

#nav-links-container {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    width: 60vw;
}

#nav-links-container li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

#img-container{
    width: 50vw;
    display: inline-block;
    width: 10vw;
}

#cart {
}

#profile {
}
